body {
  background: #c8bde1;
  font-family: "Noto Sans", sans-serif;
  background-image: Url(clouds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #701770;
}

.weather-app {
  background: white;
  margin: 60px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  padding-bottom: 30px;
  border-bottom: 1px solid #701770;
}

.search-form-input {
  border: none;
  background-color: #ede8fe;
  color: rgba(13, 12, 12, 0.4);
  padding: 20px 20px;
  width: 80%;
  font-size: 16px;
  border-radius: 6px;
}

.search-form-button {
  border: none;
  background-color: #c04080;
  color: white;
  padding: 20px;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 5px;
  line-height: 1;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
  line-height: 48px;
  color: rgb(66, 24, 66);
}

.weather-app-details {
  font-size: 16px;
  font-weight: 500;
  color: rgba(39, 30, 79, 0.4);
  line-height: 24px;
}

.weather-app-details strong {
  color: #900934;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 30px;
  font-size: 55px;
  margin-right: 5px;
}

.weather-app-temperature {
  font-size: 85px;
  font-weight: bold;
  line-height: 140px;
  color: rgb(66, 24, 66);
}

.weather-app-unit {
  margin-top: -3px;
  position: relative;
  font-size: 35px;
  color: rgb(66, 24, 66);
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 9.4);
  font-size: 16px;
  line-height: 20px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #900934;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  text-align: center;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #701770;
}
